* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(23, 23, 54);
}

.container__form {
  margin: 50px auto;
  border-radius: 20px;
  box-shadow: 20px 10px 10px rgb(57, 57, 57) ;
  border: 4px solid gray;
  padding: 12px 20px;
  background: black;
  color: white;
  width: 70%;
  min-width: 600px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  font-size: 20px;
}

.form {
  background-color: rgb(28, 28, 28);
  padding: 10px;
  width: 50%;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
}

.form__input {
  background: rgb(78, 65, 65);
  border: none;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  margin: 10px 0px;
  padding: 7px 4px;
  border: 2px white solid;
  color: white;
}

.form__input::placeholder {
  color: white;
  margin-left: 2px;
}


.container__form__img {
  border: 2px gray solid;
  border-radius: 50%;
  background-color: white;
  width: 25%;
  min-width: 300px;
  align-items: center;
  border: dotted 10px rgb(0, 0, 0);
  margin: 25px;
}

.form__img {
  width: 300px;
}

.form__submit {
  border: none;
  padding: 7px;
  border-radius: 40%;
  background: rgb(68, 70, 201);
  color: white;
  width: 40%;
}

.form__submit:hover {
  cursor: pointer;
  background: rgb(26, 30, 211);
  color: white;
}

.form__label-1 {
  text-align: center;
  margin: 30px 0;
}